/js/Initiate_API.bat
/js/Initiation.bat
/js/invisible.vbs
/js/node_modules/
/js/app_inUse.js
/DB/French_FIN.csv
/DB/PersonalFinance_inUse.db
/DB/Living_expense.xlsx
/DB/Extract_database.csv
/_python_/*